* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: beige;
  /* background-image: url("https://media1.giphy.com/media/jjMzVt3jaDfzoKr49R/giphy.gif?cid=ecf05e47m6xjbetnqflnnhesha4wzg7qr80oyl2vxqk5nnru&rid=giphy.gif&ct=g"); */
  background-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  
}

p {
  margin: 0;
}

header{
  display: inline-flex;
  background: #080808;
  color: rgba(255, 0, 0, 0.2);
  font-size: 25px;
  padding: 10px 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  
}
header h1 {
  display: inline-block;
  font-size: 48px;
  padding-left: 100px;
  padding-right: 20px;
  color: black;
  background-color: beige;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  float: left;
}


header nav {
 
  margin-right: 50px;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
    
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  border-bottom: beige solid 2px;
    
}

a {
  color: beige;
  text-decoration: none;
  padding: 5px;
}
img{
  margin: 0 0 0 5px;
  width: 100%;
  border: 2px solid black;
  padding: 1px;
  border-radius: 5px;
}
.hero-banner{
  display: flex;
  background-image: url("/images/02-hero-bg.jpg");
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(185, 0, 0, 0.2);
  background-size: 100%;
  height: 200px;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end; 
  }
.hero-banner div{
  display: inline-block;
  font-size: 18px;
  width: auto;
  height: auto;  
  color: black;
  padding: 0 20px;
  margin: 20px 50px;
  background-color: beige;
  border-radius: 15px;
  }
.page-sectionabout{
  display: grid;
  grid-template-columns: 20% 15% 65%;
  grid-template-rows: 100%;
  grid-template-areas: "sectiontitle img p"; 
  margin: 25px 0 25px 0;
}

.page-sectionabout p{
  margin:0 15px
}

.page-sectionwork{
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 150px 300px 150px 150px;
  grid-template-areas: 
  "sectiontitle work1 work1 "
  "sectiontitle work1 work1 "
  "sectiontitle work2 work3 "
  "sectiontitle work4 work5 ";
  margin-bottom: 25px;
  
  
}

.page-sectioncontact{
  display: inline-flex;
  width: 100%;
  /* grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  grid-template-areas: "sectiontitle a";  */
  margin-bottom: 25px;
  
}
.page-sectioncontact .sectiontitle{
 width: 20%;
}
.page-sectioncontact nav {
  width: 80%;
  
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  display: inline-flex;
  justify-content: space-around;
    
}
.page-sectioncontact nav ul {
  list-style-type: none;
  
}
.page-sectioncontact nav ul li {
  display: inline-block;
  border-bottom: black solid 2px;
  margin: 0 20px;
      
}
.page-sectioncontact a{
 color: black;
 text-decoration: none;
 }

.sectiontitle{
  grid-area: sectiontitle;
  border-right: black solid 5px;
  text-align: right;
  padding-right: 10px;
  font-size: 28px;
}
#work1 {
  grid-area: work1;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.8);
  background-image: url("/images/02-portfolio-1.jpg");
  border: black solid 5px;


}

#work1:hover {  
  box-shadow: inset 0 0 0 1000px rgba(238, 238, 238, 0);
  background-image: url("/images/02-portfolio-1.jpg");
  border: black solid 5px;


}
#work2 {
  grid-area: work2;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.8);
  border: black solid 5px;
  background-image: url("/images/02-portfolio-2.jpg");
}
#work2:hover {
  grid-area: work2;
  box-shadow: inset 0 0 0 1000px rgba(238, 238, 238, 0);
  border: black solid 5px;
  background-image: url("/images/02-portfolio-2.jpg");
}
#work3 {
  grid-area: work3;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.8);
  border: black solid 5px;
  background-image: url("/images/02-portfolio-3.jpg");
}
#work3:hover {
  grid-area: work3;
  box-shadow: inset 0 0 0 1000px rgba(238, 238, 238, 0);
  border: black solid 5px;
  background-image: url("/images/02-portfolio-3.jpg");
}

#work4 {
  grid-area: work4;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.8);
  border: black solid 5px;
  background-image: url("/images/02-portfolio-4.jpg");
  
}
#work4:hover {
  grid-area: work4;
  box-shadow: inset 0 0 0 1000px rgba(238, 238, 238, 0);
  border: black solid 5px;
  background-image: url("/images/02-portfolio-4.jpg");
  
}

#work5 {
  grid-area: work5;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.8);
  border: black solid 5px;
  background-image: url("/images/02-run-buddy.jpg");
}
#work5:hover {
  grid-area: work5;
  box-shadow: inset 0 0 0 1000px rgba(238, 238, 238, 0);
  border: black solid 5px;
  background-image: url("/images/02-run-buddy.jpg");
}

.heading {
  background-color: black;
  height: fit-content;
  width: fit-content;
  color: red;
  font-size: 20px; 
  font-weight: bold;
  padding: 2px 10px 2px 2px;

}
.workGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  
  display: grid;
  align-content: end;
  padding: 0 0 20px 0;

  
}
.workGridArea p{
  font-size: 12px;
}

